<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet" />
        <link rel="icon" href="./favicon.ico" type="image/x-icon" />
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body>
        <div class="section">
            <div class="container">
                <h1><%= htmlWebpackPlugin.options.title %></h1>

                <div class="form">
                    <form action="#" class="form__form">
                        <div class="form__input-box">
                            <input
                                type="text"
                                name="color-input"
                                class="form__input"
                                placeholder="Type your colour: 'grey', '#808080' or 'rgb(128, 128, 128)'"
                                autocomplete="off"
                            />
                            <button class="form__btn form__btn--get" type="submit">Get</button>
                        </div>
                        <div class="form__btns">
                            <button class="form__btn form__btn--random" type="button">Random Colours</button>
                            <button class="form__btn form__btn--faves" type="button">View Favourites</button>
                        </div>
                    </form>
                </div>

                <div class="results">
                    <div class="results__box shades hidden">
                        <div class="results__box-title">Shades and Hues:</div>

                        <div class="results__items-box"></div>
                    </div>

                    <div class="results__box combos hidden">
                        <div class="results__box-title">Harmonious Combinations:</div>
                        <div class="results__items-box"></div>
                    </div>

                    <div class="results__box random hidden">
                        <div class="results__box-title">Random Colors:</div>
                        <div class="results__items-box"></div>
                    </div>
                </div>

                <div class="favorite hidden">
                    <div class="favorite__title">Your Favourite Colours:</div>
                    <div class="favorite__colors"></div>
                </div>
            </div>
        </div>
    </body>
</html>
